<mat-toolbar color="primary" class="header">
    <mat-toolbar-row>
        <div class="title">
                <h1>ThanosContract</h1>
        </div>
        <span class="menu-spacer"></span>
        <mat-button-toggle-group>
            <mat-button-toggle class="menu" [routerLink]="['/home']"> HOME </mat-button-toggle>
            <mat-button-toggle class="menu" [routerLink]="['/schema']"> 接口 / Schema</mat-button-toggle>
            <mat-button-toggle class="menu" [routerLink]="['/contract']"> 契约 / Contract </mat-button-toggle>
            <mat-button-toggle class="menu" [routerLink]="['/mock']"> 挡板服务 / MockServer </mat-button-toggle>
            <!-- <a mat-button [routerLink]="'/about'"> 关于我们 / About Us </a> -->
        </mat-button-toggle-group>
        <span class="menu-spacer"></span>

    </mat-toolbar-row>