body {
    margin: 0 0;
    text-align: center;
}
h1{
    color: lightgray;
}
.header {
    width: 90%;
    height: 100px;   
    margin: 0 auto;
    text-align: center;
    padding: 5px 20px;
}
.inline{
    display: inline-block;
    width: 100%;
}
.title {
    text-align: right;
    padding-right: 25px;
}

.navgroup {
    text-align: left;
    padding-left: 20px;
    margin-top: -25px;

}

.navItem {
    padding: 0px 20px;
    border-top: lightgray;
    font-weight: bold;
}