<app-detail-header [subTitle]="subTitle"></app-detail-header>
<div *ngIf='deny' class="top_msg">
    <h3>Please search schema first and add contract there!</h3>
    <a [routerLink]="['/schema']">Link to Schema Page</a>
</div>
<div class="contract_form" *ngIf='!deny'> 
    <form #contractDetailForm="ngForm">
        <div>
            <mat-label>
                <h4>契约概述 (基于接口：{{contractDetail.schemaProvider}}-{{contractDetail.schemaName}}-{{contractDetail.schemaVersion}})</h4>
            </mat-label>
        </div>
        <div class="contract_desc_row">
            <mat-form-field appearance="fill">
                <mat-label>Provider</mat-label>
                <input type="text" id="provider" required minlength="1" matInput [(ngModel)]="contractDetail.provider"
                    [disabled]="isReadOnlyDesc" name="provider" placeholder="生产者">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Consumer</mat-label>
                <input type="text" id="consumer" required minlength="1" matInput [(ngModel)]="contractDetail.consumer"
                    [disabled]="isReadOnlyDesc" name="consumer" placeholder="消费者">
            </mat-form-field>
        </div>
        <div class="contract_desc_row">
            <mat-form-field appearance="fill">
                <mat-label>Name</mat-label>
                <input type="text" id="name" required minlength="1" matInput [(ngModel)]="contractDetail.name"
                    [disabled]="isReadOnlyDesc" name="name" placeholder="should_do_sth_when_condition_fulfills">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Version</mat-label>
                <input type="text" id="version" required minlength="1" matInput [(ngModel)]="contractDetail.version"
                    [disabled]="isReadOnlyDesc" name="version" placeholder="v1">
            </mat-form-field>
        </div>

        <div class="field_tbl">
            <div>
                <mat-label>
                    <h4>请求接口（Request)</h4>
                </mat-label>
            </div>
            <table mat-table [dataSource]="contractDetail.request">
                <!-- Id Column -->
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef> No. </th>
                    <td mat-cell *matCellDef="let element; let i=index">{{i+1}} </td>
                </ng-container>
                <!-- Name Column -->
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Name </th>
                    <td mat-cell *matCellDef="let element; let i=index">{{element.name}} </td>
                </ng-container>

                <!-- Type Column -->
                <ng-container matColumnDef="type">
                    <th mat-header-cell *matHeaderCellDef> Type</th>
                    <td mat-cell *matCellDef="let element">{{element.type}}</td>
                </ng-container>

                <!-- Length Column -->
                <ng-container matColumnDef="length">
                    <th mat-header-cell *matHeaderCellDef> Length </th>
                    <td mat-cell *matCellDef="let element">{{element.length}}</td>
                </ng-container>

                <!-- Content Column -->
                <ng-container matColumnDef="schemaContent">
                    <th mat-header-cell *matHeaderCellDef> SchemaContent </th>
                    <td mat-cell *matCellDef="let element">{{element.schemaContent}}</td>
                </ng-container>

                <!-- Content Column -->
                <ng-container matColumnDef="contractContent">
                    <th mat-header-cell *matHeaderCellDef> ContractContent </th>
                    <td mat-cell *matCellDef="let element">
                        <mat-form-field>
                            <input type="text" minlength="1" maxlength="20" matInput
                                [(ngModel)]="element.contractContent" [disabled]="isReadOnlyFields"
                                [ngModelOptions]="{standalone: true}">
                        </mat-form-field>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>

        <div class="field_tbl">
            <div>
                <mat-label>
                    <h4>返回接口（Response)</h4>
                </mat-label>
            </div>
            <table mat-table [dataSource]="contractDetail.response">
                <!-- Id Column -->
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef> No. </th>
                    <td mat-cell *matCellDef="let element; let i=index">{{i+1}} </td>
                </ng-container>
                <!-- Name Column -->
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Name </th>
                    <td mat-cell *matCellDef="let element; let i=index">{{element.name}} </td>
                </ng-container>

                <!-- Type Column -->
                <ng-container matColumnDef="type">
                    <th mat-header-cell *matHeaderCellDef> Type</th>
                    <td mat-cell *matCellDef="let element">{{element.type}}</td>
                </ng-container>

                <!-- Length Column -->
                <ng-container matColumnDef="length">
                    <th mat-header-cell *matHeaderCellDef> Length </th>
                    <td mat-cell *matCellDef="let element">{{element.length}}</td>
                </ng-container>

                <!-- Content Column -->
                <ng-container matColumnDef="schemaContent">
                    <th mat-header-cell *matHeaderCellDef> SchemaContent </th>
                    <td mat-cell *matCellDef="let element">{{element.schemaContent}}</td>
                </ng-container>

                <!-- Content Column -->
                <ng-container matColumnDef="contractContent">
                    <th mat-header-cell *matHeaderCellDef> ContractContent </th>
                    <td mat-cell *matCellDef="let element">
                        <mat-form-field>
                            <input type="text" required minlength="1" maxlength="20" matInput
                                [(ngModel)]="element.contractContent" [disabled]="isReadOnlyFields"
                                [ngModelOptions]="{standalone: true}">
                        </mat-form-field>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
        <div *ngIf="allertMessage.length != 0" class='alert'>
            ERROR: {{allertMessage}}
        </div>
        <div class="bottom_btn" *ngIf="isReadOnlyFields">
            <button mat-raised-button [routerLink]="['/schema']" color="accent">退出 / Back</button>
        </div>
        <div class="bottom_btn" *ngIf="!isReadOnlyFields">
            <button mat-raised-button [routerLink]="['/schema']" color="accent">退出 / Back</button>
            <button mat-raised-button color="primary" type="submit" (click)="onSubmit()" 
            [disabled]="!contractDetailForm.form.valid"> 保存 / Save </button>
        </div>

    </form>
</div>