.footer {
    clear: both;
    display: block;
    text-align: center;	
    margin: 0px auto;
    position: absolute;
    bottom: 10px;
    width: 100%;

}
.container {
    text-align: center;
    color: grey;
    font-size: small;
}
a {
    text-decoration:none;
    color:grey;
}