<div class="contract_container">
    <div class="contract_head">
        <button mat-raised-button color="accent" class="header_btn" (click)="resetFilter()">
            <i class="material-icons">history</i> 重置查询条件 </button>
    </div>
    <div *ngIf="showSpinLoader">
        <ng-http-loader></ng-http-loader>
    </div>
    <div *ngIf="allertMessage.length != 0" class='alert'>
        ERROR: {{allertMessage}}
    </div>
    <div class="contract_table">
        <mat-form-field>
            <input matInput (ngModelChange)="applyFilter($event)" [ngModel]="globalFilter" placeholder="Filter by keyword ...">
        </mat-form-field>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <!-- Provider Column -->
            <ng-container matColumnDef="provider">
                <th mat-header-cell *matHeaderCellDef>
                    <div>
                        <mat-form-field>
                            <mat-label>生产者</mat-label>
                            <input matInput class="form-field" [formControl]="providerFilter"
                                placeholder="Provider Filter" [value]="filteredValues.provider">
                        </mat-form-field>
                    </div>
                </th>
                <td mat-cell *matCellDef="let element"> {{element.provider}} </td>
            </ng-container>

            <!-- Consumer Column -->
            <ng-container matColumnDef="consumer">
                <th mat-header-cell *matHeaderCellDef> 
                    <div>
                        <mat-form-field >
                            <mat-label>消费者</mat-label>
                            <input matInput class="form-field" [formControl]="consumerFilter"
                                placeholder="Consumer Filter" [value]="filteredValues.consumer">
                        </mat-form-field >
                    </div>
                </th>
                <td mat-cell *matCellDef="let element"> {{element.consumer}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>
                    <div>
                        <mat-form-field>
                            <mat-label>契约名称</mat-label>
                            <input matInput class="form-field" [formControl]="nameFilter"
                                placeholder="Name Filter" [value]="filteredValues.name">
                        </mat-form-field>
                    </div>
                </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <!-- Version Column -->
            <ng-container matColumnDef="version">
                <th mat-header-cell *matHeaderCellDef>
                    <div>
                        <mat-form-field>
                            <mat-label>契约版本</mat-label>
                            <input matInput class="form-field" [formControl]="versionFilter"
                                placeholder="Version Filter" [value]="filteredValues.version">
                        </mat-form-field>
                    </div>
                </th>
                <td mat-cell *matCellDef="let element"> {{element.version}} </td>
            </ng-container>

            <!-- Actions Column -->
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef> 基本操作 </th>
                <td mat-cell *matCellDef="let element; let i = index">
                    <button mat-icon-button color="accent" matTooltip="View Contract" (click)="viewContract(element)">
                        <mat-icon>pageview</mat-icon>
                    </button>
                    <button mat-icon-button color="accent" matTooltip="Edit Contract" (click)="editContract(element)">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button color="accent" matTooltip="Delete Contract"
                        (click)="deleteContract(element)">
                        <mat-icon>delete</mat-icon>
                    </button>
                    <button mat-icon-button color="accent" matTooltip="Duplicate Contract"
                        (click)="duplicateContract(element)">
                        <mat-icon>control_point_duplicate</mat-icon>
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[8, 16]" showFirstLastButtons></mat-paginator>
    </div>

</div>