.header-card {
    margin: 0 auto;
    margin-top: 70px;
    text-align: left;
    padding-left: 50px;
    width: 100%;
    color: lightgray;
}
.header-card>h1{
    display: inline;
}
.header-card>p{
    display: inline;
}
.contract_container{
    margin: 0 auto;
    text-align: center;
    width: 90%;
}

.contract_table > * {
    width: 100%;
    margin: 0 auto;
    text-align: left;
}

.alert {
    color: #FF4081;
    margin: 10px auto;
    margin-top: 30px;
}
  
th {
    line-height: 70px;
    font-size: 90%;
}

.contract_head {
    width: 100%;
    text-align: right;
}

mat-divider {
    width: 85%;
    text-align: center;
    margin: 0 auto;
}
