
.schema_form {
    margin: 0 auto;
    margin-top: 70px;
    width: 90%;
    text-align: center;
}
.schema_desc{
    text-align: center;
}
.schema_form > * {
    width: 95%;
    text-align: left;
    padding: 10px
}
.field_tbl > *{
    width: 100%;
}

mat-divider {
    margin: 10px auto;
}
.bottom_btn {
    width: 100%;
    text-align: center;
    margin: 30px auto;
    margin-bottom: 10px;
}
.bottom_btn>button{
    width: 40%;
    margin: 1px 8px;
}

table {
    width: 100%;
}
.length_f{
    width: 60px;
}
.type_f{
    width: 70px;
}
  
td.mat-cell{
    border-bottom-style: none;
}
th.mat-header-cell{
    border-bottom-style: none;
}
.schema_desc > .mat-form-field {
    margin: 8px;
}
.alert {
    color: #FF4081;
    margin: 10px auto;
    text-align: center;
}


