<div class="schema_dialog">
    <h2 mat-dialog-title>{{data.title}}</h2>
    <mat-divider></mat-divider>
    <div>
        <ng-http-loader></ng-http-loader>
    </div>
    <div *ngIf="alertMessage.length != 0" class='alert'>
        <h4>{{alertMessage}}</h4>
        <p>[{{alertDetail}}]</p>
    </div>
    <div mat-dialog-content class="schema_form">
        <form #schemaDetailForm="ngForm">
            <div class="schema_desc">
                <mat-form-field appearance="outline">
                    <mat-label>Provider</mat-label>
                    <input type="text" id="provider" required minlength="1" matInput [(ngModel)]="data.provider"
                        [disabled]="isReadOnlyDesc" name="provider" placeholder="Provider">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Name</mat-label>
                    <input type="text" id="name" required minlength="1" matInput [(ngModel)]="data.name"
                        name="name" [disabled]="isReadOnlyDesc" placeholder="Name">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Version</mat-label>
                    <input type="text" id="version" required minlength="1" matInput [(ngModel)]="data.version"
                        [disabled]="isReadOnlyDesc" name="version" placeholder="Version">
                </mat-form-field>
            </div>
            
            <div class="field_tbl">
                <div>
                    <mat-label>
                        <h4>请求接口（Request)</h4>
                    </mat-label>
                </div>
                <table mat-table [dataSource]="this.reqDataSource">
                    <!-- Id Column -->
                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef> No. </th>
                        <td mat-cell *matCellDef="let element; let i=index">{{i+1}} </td>
                    </ng-container>
                    <!-- Name Column -->
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef> Name </th>
                        <td mat-cell *matCellDef="let element; let i=index">
                            <mat-form-field>
                                <input type="text" required minlength="1" maxlength="10" matInput
                                    [(ngModel)]="element.name" [disabled]="isReadOnlyFields"
                                    [ngModelOptions]="{standalone: true}">
                            </mat-form-field>
                        </td>
                    </ng-container>

                    <!-- Type Column -->
                    <ng-container matColumnDef="type">
                        <th mat-header-cell *matHeaderCellDef> Type</th>
                        <td mat-cell *matCellDef="let element">
                            <mat-form-field class="type_f" floatLabel="never">
                                <mat-select [(value)]="element.type" placeholder="CHAR" [disabled]="isReadOnlyFields" required>
                                    <mat-option value="CHAR">CHAR</mat-option>
                                    <mat-option value="NUM">NUM</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </td>
                    </ng-container>

                    <!-- Length Column -->
                    <ng-container matColumnDef="length">
                        <th mat-header-cell *matHeaderCellDef> Length </th>
                        <td mat-cell *matCellDef="let element">
                            <mat-form-field class="length_f">
                                <input type="number" required minlength="1" maxlength="3" matInput
                                    [(ngModel)]="element.length" [disabled]="isReadOnlyFields"
                                    [ngModelOptions]="{standalone: true}">
                            </mat-form-field>
                        </td>
                    </ng-container>

                    <!-- Content Column -->
                    <ng-container matColumnDef="content">
                        <th mat-header-cell *matHeaderCellDef> Content </th>
                        <td mat-cell *matCellDef="let element">
                            <mat-form-field>
                                <input type="text" required minlength="1" maxlength="20" matInput
                                    [(ngModel)]="element.content" [disabled]="isReadOnlyFields"
                                    [ngModelOptions]="{standalone: true}">
                            </mat-form-field>
                        </td>
                    </ng-container>

                    <!-- Del Column -->
                    <ng-container matColumnDef="del">
                        <th mat-header-cell *matHeaderCellDef></th>
                        <td mat-cell *matCellDef="let element; let i=index">
                            <button mat-icon-button *ngIf="!isReadOnlyFields" (click)="delete(i, this.requestList,this.reqDataSource)">
                                <mat-icon color="accent">highlight_off</mat-icon>
                            </button>
                            <button mat-icon-button *ngIf="!isReadOnlyFields" (click)="addField(i,this.requestList,this.reqDataSource)">
                                <mat-icon color="primary">playlist_add</mat-icon>
                            </button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>

            <div class="field_tbl">
                <div>
                    <mat-label>
                        <h4>返回接口（Response)</h4>
                    </mat-label>
                </div>
                <table mat-table [dataSource]="this.resDataSource">
                    <!-- Id Column -->
                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef> No. </th>
                        <td mat-cell *matCellDef="let element; let i=index">{{i+1}} </td>
                    </ng-container>
                    <!-- Name Column -->
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef> Name </th>
                        <td mat-cell *matCellDef="let element; let i=index">
                            <mat-form-field>
                                <input type="text" required minlength="1" maxlength="10" matInput
                                    [(ngModel)]="element.name" [disabled]="isReadOnlyFields"
                                    [ngModelOptions]="{standalone: true}">
                            </mat-form-field>
                        </td>
                    </ng-container>

                    <!-- Type Column -->
                    <ng-container matColumnDef="type">
                        <th mat-header-cell *matHeaderCellDef> Type</th>
                        <td mat-cell *matCellDef="let element">
                            <mat-form-field class="type_f" floatLabel="never">
                                <mat-select [(value)]="element.type" placeholder="CHAR" [disabled]="isReadOnlyFields" required>
                                    <mat-option value="CHAR">CHAR</mat-option>
                                    <mat-option value="NUM">NUM</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </td>
                    </ng-container>

                    <!-- Length Column -->
                    <ng-container matColumnDef="length">
                        <th mat-header-cell *matHeaderCellDef> Length </th>
                        <td mat-cell *matCellDef="let element">
                            <mat-form-field class="length_f">
                                <input type="number" required minlength="1" maxlength="3" matInput
                                    [(ngModel)]="element.length" [disabled]="isReadOnlyFields"
                                    [ngModelOptions]="{standalone: true}">
                            </mat-form-field>
                        </td>
                    </ng-container>

                    <!-- Content Column -->
                    <ng-container matColumnDef="content">
                        <th mat-header-cell *matHeaderCellDef> Content </th>
                        <td mat-cell *matCellDef="let element">
                            <mat-form-field>
                                <input type="text" required minlength="1" maxlength="20" matInput
                                    [(ngModel)]="element.content" [disabled]="isReadOnlyFields"
                                    [ngModelOptions]="{standalone: true}">
                            </mat-form-field>
                        </td>
                    </ng-container>

                    <!-- Del Column -->
                    <ng-container matColumnDef="del">
                        <th mat-header-cell *matHeaderCellDef></th>
                        <td mat-cell *matCellDef="let element; let i=index">
                            <button mat-icon-button *ngIf="!isReadOnlyFields" (click)="delete(i, this.responseList, this.resDataSource)">
                                <mat-icon color="accent">highlight_off</mat-icon>
                            </button>
                            <button mat-icon-button *ngIf="!isReadOnlyFields" (click)="addField(i,this.responseList,this.resDataSource)">
                                <mat-icon color="primary">playlist_add</mat-icon>
                            </button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
            </div>
            <div class="bottom_btn" *ngIf="!isReadOnlyFields">
                <button mat-raised-button (click)="onNoClick()" color="accent">退出 / Exit</button>
                <button mat-raised-button color="primary" [disabled]="!schemaDetailForm.form.valid" type="submit"
                     (click)="onSubmit()"> 保存 / Save </button>
            </div>
            <div class="bottom_btn" *ngIf="isReadOnlyFields">
                <button mat-raised-button [mat-dialog-close]="schema" color="primary"> 关闭 / Close </button>
            </div>
        </form>
    </div>
</div>