.schema_dialog {
    margin: 0 auto;
    width: 100%;
    text-align: center;
}
.schema_desc{
    text-align: center;
}
.schema_form > * {
    width: 95%;
    text-align: left;
    padding: 15px
}
.field_tbl > *{
    width: 100%;
}

mat-divider {
    margin: 10px auto;
}
.bottom_btn {
    width: 100%;
    text-align: center;
    margin: 30px auto;
}
.bottom_btn>button{
    width: 50%;
}

table {
    width: 100%;
}
.length_f{
    width: 50px;
}
.type_f{
    width: 70px;
}
  
td.mat-cell{
    border-bottom-style: none;
}
th.mat-header-cell{
    border-bottom-style: none;
}
.mat-form-field {
    margin: 5px;
}

