.page_contrainer{
    text-align: center;
    width: 90%;
    margin: 0 auto;
}

.text_container{
    margin-top: 160px;
}

p{
    font: smaller;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    color: grey;
}

.btn {
    margin-top: 80px;
    border: lightgray;
}