<div class="page_contrainer">
    <div class="text_container">
        <h1>灭霸契约</h1>
        <h3>旨在为使用TCP和定长报文的系统提供如灭霸弹指般轻松的契约测试</h3>
        <p>Target to help the systems which still using TCP & Fix-length message to implement Contract
            Test</p>
        <div class="btn">
            <button mat-raised-button color="primary" [routerLink]="'/schema'">
                <h1> Let's Start! </h1>
            </button>
        </div>
    </div>
    <div class='desc_1'>
        <div class='image_block'>
            <div class="desc1_image_left">
                <img src='../../../assets/images/background.jpg' />
            </div>
            <div class="desc1_image_right">
                <img src='../../../assets/images/target.jpg' />
            </div>
        </div>
        <div class="desc1_text">
            <h1 class="title">契约测试</h1>
            <p class="paragraph">契约测试让生产者与消费者之间能基于契约而更高效也更高质量地并行开发，减少端到端联调的压力。在依赖关系复杂的系统间尤为重要。</p>
        </div>
 
    </div>
    <div class='desc_2'>
        <div class="desc2_left">  
            <h1 class="number">1</h1>
            <h1 class="title">统一接口管理</h1>
            <p class="paragraph">友好支持正则定义</p>
        </div>

        <div class="desc2_right">
            <img src='../../../assets/images/schema.png' />
        </div>
    </div>
    <div  class='desc_white'>
        <div class="desc3_left">
            <img src='../../../assets/images/mock_server.png' />
        </div>
        <div class="desc3_right">  
            <h1 class="number">2</h1>
            <h1 class="title">自动生成测试挡板</h1>
            <p class="paragraph">基于契约自动生成挡板服务，助力多系统间并行开发，提升效率</p>
        </div>
    </div>
    <div class='desc_4'>
        <div class="desc4_left">  
            <h1 class="number">3</h1>
            <h1 class="title">自动化测试案例生成</h1>
            <p class="paragraph">根据契约，智能生成单元测试、接口测试案例<br/>通过测试下移减轻端到端测试的压力</p>
        </div>

        <div class="desc4_right">
            <img src='../../../assets/images/schema.png' />
        </div>
    </div>

</div>